
.popup{
    width: 120px;
    height: 100px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 10px;
    border-radius: 10px;
}

#toggleSlider {
    width: 20%; 
    position: fixed;
    left: 65%;
}

#toggleLabel {
    font-family: sans-serif;
    font-size: 12px;
}